mat-toolbar {
    background-image: linear-gradient(#96e3e3, #fff0f0, #96e3e3); 
}

mat-toolbar span {
    text-align: right; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

mat-card {
    border: solid;
    border-color: #9aceed;
    background-image: linear-gradient(#adc9ec, #e6f1ff, #adc9ec);
    color: black; 
}

mat-card-title{
    font-size: x-large;
}