<!-- <mat-toolbar class="z-50 fixed top-0 flex content-center flex-row" style="background-image: linear-gradient(#ab91d7, #fff0f0, #ab91d7); "> -->

<mat-toolbar class="z-50 fixed top-0 flex content-center flex-row">
    <span class="text-3xl w-full"><i><b>Arishti Info Lab</b></i></span>
</mat-toolbar>
<div style="background-image: linear-gradient(#b5e9e9, #fff0f0, #b5e9e9);">
    <div class="flex mx-4 grid gap-4 rounded-lg" style="margin-top: 45px">
        <mat-card class="mt-11 h-104 " (click)="openFormDialog()" style="">
            <!-- <mat-card class="mt-11 h-60 " (click)="openFormDialog()"> -->
            <mat-card-title style="margin: 15px 0px;">
                Achievements
            </mat-card-title>
            <mat-divider
                style="background-image: linear-gradient(90deg, #149898, #6da7ed, #afc8e8); width: 70%; height: 10px;">
            </mat-divider>
            <mat-card-content style="margin: 30px 0px;">
                <div class="flex flex-row">
                    <p class="m-8">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, hic perspiciatis non quaerat
                        aliquid,
                        libero, doloremque blanditiis vitae eligendi debitis incidunt. Doloremque consectetur velit
                        incidunt, asperiores officia nesciunt sapiente delectus officiis molestias non quae corporis
                        consequatur, accusantium amet culpa vero.
                    </p>
                    <img src="../../../assets/download.jfif" alt="" class="ml-8 h-56 w-56">
                </div>
                <div class="flex flex-row" style="float: left;" *ngFor="let img of subImages">
                    <img src={{img}} alt="" width="80px" height="80px" style="margin: 40px;">
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mt-4 h-104 " (click)="openFormDialog()" style="">
            <!-- <mat-card class="mt-11 h-60 " (click)="openFormDialog()"> -->
            <mat-card-title style="margin: 15px 0px;">
                Achievements
            </mat-card-title>
            <mat-divider
                style="background-image: linear-gradient(90deg, #149898, #6da7ed, #afc8e8); width: 70%; height: 10px;">
            </mat-divider>
            <mat-card-content style="margin: 30px 0px;">
                <div class="flex flex-row">
                    <p class="m-8">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, hic perspiciatis non quaerat
                        aliquid,
                        libero, doloremque blanditiis vitae eligendi debitis incidunt. Doloremque consectetur velit
                        incidunt, asperiores officia nesciunt sapiente delectus officiis molestias non quae corporis
                        consequatur, accusantium amet culpa vero.
                    </p>
                    <img src="../../../assets/download.jfif" alt="" class="ml-8 h-56 w-56">
                </div>
                <div class="flex flex-row" style="float: left;" *ngFor="let img of subImages">
                    <img src={{img}} alt="" width="80px" height="80px" style="margin: 40px;">
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mt-4 h-104 " (click)="openFormDialog()" style="">
            <!-- <mat-card class="mt-11 h-60 " (click)="openFormDialog()"> -->
            <mat-card-title style="margin: 15px 0px;">
                Achievements
            </mat-card-title>
            <mat-divider
                style="background-image: linear-gradient(90deg, #149898, #6da7ed, #afc8e8); width: 70%; height: 10px;">
            </mat-divider>
            <mat-card-content style="margin: 30px 0px;">
                <div class="flex flex-row">
                    <p class="m-8">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, hic perspiciatis non quaerat
                        aliquid,
                        libero, doloremque blanditiis vitae eligendi debitis incidunt. Doloremque consectetur velit
                        incidunt, asperiores officia nesciunt sapiente delectus officiis molestias non quae corporis
                        consequatur, accusantium amet culpa vero.
                    </p>
                    <img src="../../../assets/download.jfif" alt="" class="ml-8 h-56 w-56">
                </div>
                <div class="flex flex-row" style="float: left;" *ngFor="let img of subImages">
                    <img src={{img}} alt="" width="80px" height="80px" style="margin: 40px;">
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mt-4 mb-11 h-104 " (click)="openFormDialog()" style="">
            <!-- <mat-card class="mt-11 h-60 " (click)="openFormDialog()"> -->
            <mat-card-title style="margin: 15px 0px;">
                Achievements
            </mat-card-title>
            <mat-divider
                style="background-image: linear-gradient(90deg, #149898, #6da7ed, #afc8e8); width: 70%; height: 10px;">
            </mat-divider>
            <mat-card-content style="margin: 30px 0px;">
                <div class="flex flex-row">
                    <p class="m-8">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, hic perspiciatis non quaerat
                        aliquid,
                        libero, doloremque blanditiis vitae eligendi debitis incidunt. Doloremque consectetur velit
                        incidunt, asperiores officia nesciunt sapiente delectus officiis molestias non quae corporis
                        consequatur, accusantium amet culpa vero.
                    </p>
                    <img src="../../../assets/download.jfif" alt="" class="ml-8 h-56 w-56">
                </div>
                <div class="flex flex-row" style="float: left;" *ngFor="let img of subImages">
                    <img src={{img}} alt="" width="80px" height="80px" style="margin: 40px;">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>